.about-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.about-content {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2%;
}
.about-content-2 {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.about-content .para-1 {
  font-size: 1.5rem;
  color: rgb(240, 230, 94);
}
.about-content-2 p {
  color: rgb(240, 230, 94);
}
.about-title {
  font-family: "Merienda One", cursive;
  color: rgb(240, 230, 94);
  font-size: 4.5rem;
  border-bottom: solid 2px rgb(240, 230, 94);
}
.about-title-2 {
  font-family: "Jura", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.about-wrapper-1 {
  background-color: rgba(52, 51, 51, 0.748);
  border-radius: 20px;
  width: 90%;
}
.bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .about-title {
    font-size: 3rem;
  }
  .about-title-2 {
    font-size: 2.5rem;
  }
  .about-content .para-1 {
    font-size: 1.2rem;
  }
}
