.burger {
  z-index: 7;
  position: fixed;
  right: 0px;
  top: 40%;
  color: rgb(52, 51, 51);
  background: rgba(240, 230, 94, 0.707);
  padding: 7px 12px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}
body {
  overflow-x: hidden;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 6;
  position: fixed;
  right: 0px;
  height: 100vh;
  background-color: rgb(240, 230, 94);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.navbar-active {
  transform: translateX(0%);
}
.logo {
  background-color: rgb(52, 51, 51);
  font-family: "Merienda One", cursive;
  font-size: 2rem;
  text-align: center;
  display: block;
  width: 100%;
  color: rgb(240, 230, 94);
  padding: 14px 14px 14px 25px;
}
li {
  width: 100%;
  padding-right: 10px;
}
li a {
  text-align: center;
  display: block;
  width: 100%;
  color: black;
  padding: 14px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(52, 51, 51);
  color: rgb(240, 230, 94);
}
